.m1 {
  background-image: url(https://m.media-amazon.com/images/I/61GqgM9pE-L.SY679.jpg);
}
.m1:hover {
  background-image: url('https://m.media-amazon.com/images/I/61BYFfc-97L._SY741_.jpg');
}
.m2 {
  background-image: url(https://m.media-amazon.com/images/I/71GTCg8Rj1L.SY550.jpg)
}
.m2:hover {
  background-image: url('https://m.media-amazon.com/images/I/61enqi4KkIL._SY741_.jpg');
}

.m3 {
  background-image: url(https://m.media-amazon.com/images/I/51gLonI8VsL.SX569.jpg);
}
.m3:hover {
  background-image: url('https://m.media-amazon.com/images/I/610OOsWrr5L._SY741_.jpg');
}

.m4 {
  background-image: url(https://m.media-amazon.com/images/I/61H3ILz2x4L.SX679.jpg);
}

.m5 {
  background-image: url(https://m.media-amazon.com/images/I/61zfo184NoL.SX679.jpg);
}

.m6 {
  background-image: url(https://m.media-amazon.com/images/I/51EAabVRTaL.SX679.jpg);
}

.m7 {
  background-image: url(https://m.media-amazon.com/images/I/61-Njvr1ESL.SY879.jpg);
}

.m8 {
  background-image: url(https://m.media-amazon.com/images/I/51GOpp8rAJL.SY695.jpg);
}

.m9 {
  background-image: url(https://m.media-amazon.com/images/I/61x+X0TDyGL.SY695.jpg);
}

.m10{
  background-image: url(https://m.media-amazon.com/images/I/61fKN63XnQL.SY695.jpg);
}

.m11{
  background-image: url(https://m.media-amazon.com/images/I/51mHFZA5WuL.SY879.jpg);
}

.m12{
  background-image: url(https://m.media-amazon.com/images/I/411lKgrHmTL.jpg);
}

.w1{
  background-image: url(https://m.media-amazon.com/images/I/61A-ipx2EpL.SX679.jpg);
}

.w2{
  background-image: url(https://m.media-amazon.com/images/I/71DOPRGPv4L.SX569.jpg);
}

.w3{
  background-image: url(https://m.media-amazon.com/images/I/61kn0x3ACUL.SX679.jpg);
}

.w4{
  background-image: url(https://m.media-amazon.com/images/I/61lL56M6EYL.SX679.jpg);
}

.w5{
  background-image: url(https://m.media-amazon.com/images/I/71PXuqGoM0L.SY879.jpg);
}

.w6{
  background-image: url(https://m.media-amazon.com/images/I/41tTMj-b8sL.jpg);
}

.w7{
  background-image: url(https://m.media-amazon.com/images/I/31qbpJzvfFL.jpg);
}

.w8{
  background-image: url(https://m.media-amazon.com/images/I/61-NpQakjsL.SY879.jpg);
}

.w9{
  background-image: url(https://m.media-amazon.com/images/I/717-JPATHrL.SY695.jpg);
}

.w10{
  background-image: url(https://m.media-amazon.com/images/I/6183m7J-P+L.SY695.jpg);
}

.c1{
  background-image: url(https://contents.mediadecathlon.com/p2688757/90741b782f3a35b8ab39edcd8998c767/p2688757.jpg?format=auto&quality=70&f=425x0);
}

.c2{
  background-image: url(https://contents.mediadecathlon.com/m17913953/2e180f8e53a078dd7f27c490afa589d2/m17913953.jpg?format=auto&quality=70&f=425x0);
}

.c3{
  background-image: url(https://contents.mediadecathlon.com/p2538768/b117e7eefe688234bb39866103979d2a/p2538768.jpg?format=auto&quality=70&f=425x0);
}

.c4{
  background-image: url(https://contents.mediadecathlon.com/m18168920/d8cdd1b22ac7db05e2828ba318dd068d/m18168920.jpg?format=auto&quality=70&f=425x0);
}

.c5{
  background-image: url(https://contents.mediadecathlon.com/p2538771/fa2165002aad398e46fbd41302a43330/p2538771.jpg?format=auto&quality=70&f=425x0);
}

.c6{
  background-image: url(https://contents.mediadecathlon.com/m16237301/6860c53dd996a3efb3c8a7fbf606626e/m16237301.jpg?format=auto&quality=70&f=425x0);
}

.c7{
  background-image: url(https://m.media-amazon.com/images/I/71Ge+dpoPOL.AC_SX679.jpg);
}

.a1{
  background-image: url(https://m.media-amazon.com/images/I/51QZorgzwXL.AC_UY1100_FMwebp.jpg);
}

.a2{
  background-image: url(https://m.media-amazon.com/images/I/71W80G89rwL.AC_UY1100_FMwebp.jpg);
}

.a3{
  background-image: url(https://m.media-amazon.com/images/I/61h6Ma3thIL.SL1500.jpg);
}

.a4{
  background-image: url(https://m.media-amazon.com/images/I/71LFB0J7Z4L.SL1500.jpg);
}

.a5{
  background-image: url(https://m.media-amazon.com/images/I/71l2-gWOnpL.SL1500.jpg);
}

.a6{
  background-image: url(https://m.media-amazon.com/images/I/71r5YHLuOdL.SL1500.jpg);
}

.a7{
  background-image: url(https://m.media-amazon.com/images/I/71Rss-O8DSL.SL1500.jpg);
}

.a8{
  background-image: url(https://m.media-amazon.com/images/I/91tWizOWWVL.SL1500.jpg);
}

.a9{
  background-image: url(https://m.media-amazon.com/images/I/61GE+a6cA4L.SL1500.jpg);
  background-size: contain;
}

.a10{
  background-image: url(https://m.media-amazon.com/images/I/41g7O0IG3jL.SL1100.jpg);
}

.a11{
  background-image: url(https://m.media-amazon.com/images/I/61lT8dr+faL.SL1500.jpg);
}

.a12{
  background-image: url(https://m.media-amazon.com/images/I/41fhy72A93L.SL1260.jpg);
  background-size: contain;
}

.image-product1 {
  background-image: url('https://contents.mediadecathlon.com/m18295558/c5a468bd96fdb51fc12a9c4fc64720fb/m18295558.jpg?format=auto&quality=70&f=425x0');
}

.image-product1:hover {
  background-image: url('https://contents.mediadecathlon.com/m18295565/f210dba8b88efb050684dba248a654ff/m18295565.jpg?format=auto&quality=70&f=425x0');
}

.image-product2 {
  background-image: url('https://contents.mediadecathlon.com/m18295531/66cc23e1ec2e31fa00a33e3fbf699442/m18295531.jpg?format=auto&quality=70&f=425x0');
}

.image-product2:hover {
  background-image: url('https://contents.mediadecathlon.com/m18295509/b10c96d8fa52b7e2cd9da4e1bc2f3916/m18295509.jpg?format=auto&quality=70&f=425x0');
}

.image-product3 {
  background-image: url('https://contents.mediadecathlon.com/m18295507/71ebd48f7ff17ba8cfdd41cc323c8b82/m18295507.jpg?format=auto&quality=70&f=425x0');
}

.image-product3:hover {
  background-image: url('https://contents.mediadecathlon.com/m18295496/dac1c401b76ae30039966de3d87496bf/m18295496.jpg?format=auto&quality=70&f=425x0');
}

.image-product4 {
  background-image: url('https://contents.mediadecathlon.com/m18295587/ab4f4109b84d4b36fc4685928aedc28f/m18295587.jpg?format=auto&quality=70&f=425x0');
}

.image-product4:hover {
  background-image: url('https://contents.mediadecathlon.com/m18295584/fcec83e529110a7aef96f50b36c493ec/m18295584.jpg?format=auto&quality=70&f=425x0');
}

.image-product5 {
  background-image: url('https://contents.mediadecathlon.com/m18295582/df4acf0d0e717dfdea07523f4af361a5/m18295582.jpg?format=auto&quality=70&f=425x0');
}

.image-product5:hover {
  background-image: url('https://contents.mediadecathlon.com/m18295576/db6c85804a24ed04e8c33e58f57c60e4/m18295576.jpg?format=auto&quality=70&f=425x0');
}

.image-product6 {
  background-image: url('https://contents.mediadecathlon.com/m18295507/71ebd48f7ff17ba8cfdd41cc323c8b82/m18295507.jpg?format=auto&quality=70&f=425x0');
}

.image-product6:hover {
  background-image: url('https://contents.mediadecathlon.com/m18295496/dac1c401b76ae30039966de3d87496bf/m18295496.jpg?format=auto&quality=70&f=425x0');
}